<hr />
<div class="row" ng-repeat="post in vm.posts">
    <hr />
    <div class="media">
        <div class="col-sm-4">
            <a class="pull-left" href="#/edit/{{post.Id}}" title="Edit">
                <img class="media-object img-responsive" ng-src="{{post.ImageURI}}" alt="{{post.Title}}" />
            </a>

        </div>
        <div class="col-sm-8">
            <div class="media-body">
                <h4 class="media-heading">{{post.Title}}</h4>
                <h5>
                    <img class="media-object gravatar" ng-src="{{post.AuthorGravatar}} alt=" {{post.Author}} />
                    By <a href="http://chsakell.com/author/chsakell/" target="_blank">{{post.Author}}</a>
                    on {{ post.DatePublished | date:'MM/dd/yyyy'}}
                </h5>

                <div class="media-body">
                    {{post.Contents}}.. <a href="{{post.URI}}" target="_blank">Read more</a>
                    <a class="btn btn-xs btn-warning" href="/#/edit/{{post.Id}}">Edit</a>
                    <button class="btn btn-xs btn-danger" ng-click="vm.remove(post.Id)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>