
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="chsakellBlogApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- styles:css -->

    <link rel="stylesheet" href="/.build/css/appStyles.css">

    <!-- endinject -->

    <!-- vendors:js -->


    <script src="/.build/vendors/vendors.js"></script>


    <!-- endinject -->

    <!-- domain:js -->

    <script src="/.build/spa/domain.js"></script>

    <!-- endinject -->

    <!-- app:js -->

    <script src="/.build/spa/app.js"></script>

    <!-- endinject -->

    @*<script src="~/app/app.js"></script>
    <script src="~/app/domain/IEntity.js"></script>
    <script src="~/app/domain/Post.js"></script>
    <script src="~/app/common/services/constantService.js"></script>
    <script src="~/app/common/services/dataService.js"></script>
    <script src="~/app/posts/postsCtrl.js"></script>
    <script src="~/app/posts/postAddCtrl.js"></script>
    <script src="~/app/posts/postEditCtrl.js"></script>*@

</head>
<body>
    <div id="wrap">
        <div id="main" class="container">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="#/">TypeScript SPA</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/add" class="active">Add Post<i class="fa fa-info-circle fa-fw pull-right"></i></a></li>
                        <li><a href="http://wp.me/p3mRWu-Wj" target="_blank">About<i class="fa fa-info-circle fa-fw pull-right"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-if="userData.isUserLoggedIn">
                        <li class="userinfo"><a href="#/">{{username}}<i class="fa fa-user fa-fw"></i></a></li>
                    </ul>
                    <a href="https://www.facebook.com/chsakells.blog" target="_blank" class="pull-right">
                        <img src="https://chsakell.files.wordpress.com/2015/08/facebook.png" />
                    </a>
                    <a href="https://twitter.com/chsakellsBlog" target="_blank" class="pull-right">
                        <img src="https://chsakell.files.wordpress.com/2015/08/twitter-small.png" />
                    </a>
                </div>
            </div>

            <ng-view></ng-view>
        </div>
    </div>
    <footer class="navbar navbar-fixed-bottom">
        <div class="text-center">
            <h4 class="white">
                <a href="http://chsakell.com/" target="_blank">chsakell's Blog</a>
                <i>Anything around ASP.NET MVC,Web API, WCF, Entity Framework & C#</i>
            </h4>
        </div>
    </footer>
</body>
</html>
